div.home-content{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0
}

.btn-primary{cursor: pointer; background: #813588; border-color: #813588}
.btn-primary:hover{background: blueviolet; border-color: blueviolet}

div.pagination-content{margin-left: 4rem}
 
/* MEDIA QUERY */
@media (max-width: 850px){
    div.pagination-content{margin-left: 0 !important}
 }