div.home-content{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0
}

.btn-primary{cursor: pointer; background: #813588; border-color: #813588; text-align: center}
.btn-primary:hover{background: #421f65; border-color: #421f65}

div.pagination-content{margin-left: 4rem}
 
/* MEDIA QUERY */
@media (max-width: 850px){
    div.pagination-content{margin-left: 0 !important}
    div.pagination-content /deep/ .ngx-pagination{padding-left: 0 !important}
 }