<div class="job-card-content">
    <div class="card" style="height: auto; padding: 10px">
        <a href="" style="font-size: 18px; font-weight: bold">Title</a>
        <p style="font-size: 16px; margin-bottom: 0">Experience</p>
        <p style="font-size: 16px; margin-bottom: 0">Company</p>
        <p style="font-size: 16px; margin-bottom: 5px">Location</p>
        <p style="font-size: 16px; margin-bottom: 0; color: grey">Job Description</p>
        <div class="row mt-2">
            <p class="col-3" style="font-size: 13px; margin-bottom: 0">Created</p>
            <p class="col-3" style="font-size: 13px; margin-bottom: 0">Expiring</p>
            <p class="col-3" style="font-size: 13px; margin-bottom: 0">Job Type</p>
            <p class="col-3" style="color: rebeccapurple ;font-size: 13px; margin-bottom: 0">Source</p>
        </div>
    </div>
</div>
