div.content{ 
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #813588
}

.failed{
    color: red;
    font-size: 15px; 
    margin-bottom: 0; 
    padding-top: 10px
}

.success {
    color: black;
    font-size: 15px; 
    margin-bottom: 0; 
    padding-top: 10px
}

.btn-primary{
    margin-top: 35px; 
    cursor: pointer; 
    border-radius: 40px; 
    line-height: 25px;                 
    background: #813588; 
    width: 100%;
    border-color: #813588
}

a{color: whitesmoke; text-decoration: none}
a:hover{color: #ef3aff }
.btn-primary:hover{background: #421f65; border-color: #421f65}

div.card-container{ margin: 10px auto auto auto; width: 500px}

@media (max-width: 850px){
    div.card-container { width: 100%; padding-bottom: 100px}
}