<div class="content">
    <div class="container">
        <div class="row justify-content-center align-item-center" style="margin-top: 100px">
            <h1 style="font-size: 40px; color: rgb(225, 133, 21)">JustSearch!</h1>
        </div>

        <div class="card-container">
            <div class="card" style="height: auto">
                <div class="card-body">
                    <p style="font-weight: bold; font-size: 25px">Sign In</p>
                    <p style="color: #4b4b4b; font-weight: bold; font-size: 15px; margin-bottom: 7px">Email Address</p>
                    <input type="text" class="mb-3 form-control" [(ngModel)]="email">
                    <p style="color: #4b4b4b; font-weight: bold; font-size: 15px; margin-bottom: 7px">Password</p>
                    <input type="password" class="form-control" [(ngModel)]="password">
                    <button type="button" class="btn btn-primary" (click)="signIn()">Sign In</button>

                    <p [ngClass]="{'failed': isError, 'success': !isError}" *ngIf="message">{{message}}</p>
                </div>
                <div class="card-footer bg-white text-center mt-0">
                    <p style="font-size: .875rem; color: 4b4b4b; margin-bottom: 0; font-weight: 400; line-height: 1.43">
                        This website is a prototype, in order to login please follow this 
                        <a href="https://github.com/aloklearning/byjus-search-app" target="_blank">link</a>
                        and refer to <b>README</b> for login credentials. We appreciate your patience
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
