div.content{ 
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #813588
}

div.card-container{ margin: 10px auto auto auto; width: 500px}

@media (max-width: 850px){
    div.card-container { width: 100% }
}