<div class="content overflow-auto">
    <div class="container">
        <div class="row justify-content-center align-item-center" style="margin-top: 100px">
            <h1 style="font-size: 40px; color: rgb(225, 133, 21)">JustSearch</h1>
        </div>

        <div class="card-container">
            <div class="card" style="height: auto">
                <div class="card-body">
                    <p style="font-weight: bold; font-size: 25px">Sign In</p>
                    <p style="color: #4b4b4b; font-weight: bold; font-size: 15px; margin-bottom: 7px">Email Address</p>
                    <input type="text" class="mb-3 form-control" [(ngModel)]="email">
                    <p style="color: #4b4b4b; font-weight: bold; font-size: 15px; margin-bottom: 7px">Password</p>
                    <input type="password" class="form-control" [(ngModel)]="password">
                    <button style="margin-top: 35px; cursor: pointer; border-radius: 40px; line-height: 25px; width: 100%" type="button" class="btn btn-primary mb-2" (click)="signIn()">Sign In</button>
                    <p style="font-size: 15px; margin-bottom: 0 !important" *ngIf="message">{{message}}</p>
                </div>
                <div class="card-footer bg-white text-center">
                    <p style="font-size: .875rem; color: 4b4b4b; margin-bottom: 0; font-weight: 400; line-height: 1.43">Before login, ensure that all the fields are filled and are correctly formatted as per your convenience</p>
                </div>
            </div>
        </div>
    </div>
</div>
